# Base de données
*.sqlite3
*.db
*.db-shm
*.db-wal

# Migrations (sauf le fichier __init__.py)
**/migrations/*.py
!**/migrations/__init__.py

# Python
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
.venv/
env/
.env

# Pipenv
Pipfile.lock
